<h1>Products#show</h1>
<%= link_to "Back to Products", products_url %> | <%= link_to "Edit Product", edit_product_path(@product) %>|
<%= link_to "Delete Product", @product, :confirm => "Are you sure you want to delete?", :method => :delete %>
<h2><%= @product.name %> </h2><p> <%= @product.price_in_cents %><br>
 <%= @product.description %></p>

